<div data-questionid="<%==id %>" class='question-result'>
    <div id="question-text-<%==id %>" class="form-actions"><%== rendered_qtext %></div>

	<a class="btn-link" href="#question-text-<%==id %>" type="button">Previous question</a>

    <% if(nextquestionid != null){ %>
	<a class="btn-link pull-right" href="#question-text-<%==nextquestionid %>" type="button">Next question</a>
	<% } %>
</div>