<div class="bs-docs-grid" style="width: 100%;">
	<div  id="wmd-panel-<%= id %>" class="wmd-panel">
            <div id="wmd-button-bar-<%= id %>"></div>
            <textarea id="wmd-input-<%= id %>" class="qtext wmd-input" rows="7" style="width:100%" placeholder="Type your question..."><%=qtext%></textarea>
    </div>
    <button class="question-back btn-link pull-left" type="button">Previous question</button> 
	<button class="question-next btn-link pull-right" type="button" >Next question</button>
	
    <div id="wmd-preview-<%= id %>" class="wmd-panel wmd-preview form-actions" style="margin-top:40px"></div>
    
	<button class="question-back btn-link pull-left" type="button">Previous question</button> 
	<button class="question-next btn-link pull-right" type="button" >Next question</button>
</div>			
